body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ddd;
    background-image: url("./assets/text3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  /*
  .dice {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin: 0 auto;
  }*/
  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
  }
  button:hover{
    box-shadow: 0 0 10px #fff;
  }
  h1 {
    font-size: 24px;
  }
  input{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin: 20px;
  }
  .diceImg {
    margin: 20px;
    width: 180px;
  }
  .heroquest{
margin: 20px;
width: 180px;
border: 2px solid #fff;
border-radius: 20px;
  }
  @media (max-width: 768px) {
    .diceImg, .heroquest{
        margin: 10px;
        width: 100px;
    }
  }